[submodule "amnezia-client"]
	path = thirdparty/amnezia-client
	url = https://github.com/amnezia-vpn/amnezia-client
	branch = dev
[submodule "amneziawg-tools"]
	path = thirdparty/amneziawg-tools
	url = https://github.com/amnezia-vpn/amneziawg-tools.git
	branch = master
[submodule "wireguard-tools"]
	path = thirdparty/wireguard-tools
	url = https://github.com/WireGuard/wireguard-tools.git
	branch = master
[submodule "wireguard-go"]
	path = thirdparty/wireguard-go
	url = https://github.com/WireGuard/wireguard-go.git
	branch = master
